
  <div class="form-group">
    <label for="exampleInputEmail1">Login</label>
    <%= f.text_field :login, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password confirmation</label>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Surname</label>
    <%= f.text_field :surname, class: 'form-control'  %>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-default">Join</button>
  </div>