
  <div class="form-group">
    <label for="Login">Login</label>
    <%= f.text_field :login, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="Password confirmation">Password confirmation</label>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="Name">Name</label>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <label for="Surname">Surname</label>
    <%= f.text_field :surname, class: 'form-control'  %>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-default">Join</button>
  </div>