<div class="container">
	<div class="row">

		<div class="side col-md-3">
		<ul class="nav nav-pills nav-stacked">
				<li class="active"><%= link_to 'My Page', user_path(current_user) %></li>
				<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
				<hr color="#eeeeee">
				<li><%= button_to 'Logout',{ action: "destroy" , controller: "session"}, method: :delete %></li>
			</ul>
		</div>

		<div class="col-md-9">
		<p id="notice"><%= notice %></p>
			<h3>Edit profile</h3>
			<%= render 'form_edit_profile' %>
		</div>
	</div>
</div>